# Created by .ignore support plugin (hsz.mobi)
### IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
target
out
*.class
*.log

.DS_Store
Thumbs.db

### Eclipse Project files
.classpath
.project
.settings/
bin/
gen/

### Other
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

/spark-warehouse/

!.gitignore